/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
/* 기본 설정 */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Iceland', sans-serif;
  scroll-behavior: smooth;
  background-color: #D9D9D9;
  height: 100%; 
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  width: 10%;
  height: 1000px;
  display: flex;
  align-items: center;
  background: transparent;
  z-index: 1000;
  padding: 0 50px;
}

/* 기타 스타일들... */
